{% load static %}
<footer id="footer" class="ecommerce-footer" style="background-color: #A52A2A; color: #ffffff; padding: 30px 0;">
    <div class="footer-links" style="border-bottom: 1px solid #e64a19; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <h4 style="color: #ffffff; font-weight: bold;">Company</h4>
                    <ul style="list-style: none; padding: 0;font-family:'Times New Roman', Times, serif;font-size:20px;">
                        <li><a href="{% url 'about-us' %}" style="color: #ffffff; text-decoration: none;">About Us</a></li>
                        <li><a href="{% url 'career' %}" style="color: #ffffff; text-decoration: none;">Careers</a></li>
                        <li><a href="{% url 'press' %}" style="color: #ffffff; text-decoration: none;">Press Releases</a></li>
                        <li><a href="{% url 'blogs' %}" style="color: #ffffff; text-decoration: none;">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <h4 style="color: #ffffff; font-weight: bold;">Contact</h4>
                    <ul style="list-style: none; padding: 0;font-family:'Times New Roman', Times, serif;font-size:20px;">
                        <li><a href="#" style="color: #ffffff; text-decoration: none;">Help & Support</a></li>
                        <li><a href="#" style="color: #ffffff; text-decoration: none;">Partner with Us</a></li>
                        <li><a href="#" style="color: #ffffff; text-decoration: none;">Ride with Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <h4 style="color: #ffffff; font-weight: bold;">Legal</h4>
                    <ul style="list-style: none; padding: 0;font-family:'Times New Roman', Times, serif;font-size:20px;">
                        <li><a href="{% url 'terms_conditions' %}" style="color: #ffffff; text-decoration: none;">Terms & Conditions</a></li>
                        <li><a href="{% url 'privacy_policy' %}" style="color: #ffffff; text-decoration: none;">Privacy Policy</a></li>
                        <li><a href="{% url 'cookie_policy' %}" style="color: #ffffff; text-decoration: none;">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <h4 style="color: #ffffff; font-weight: bold;">Social links</h4>
                    <ul style="list-style: none; padding: 0; display: flex; gap: 10px;">
                        <li style="display: inline-block;"><a href="https://www.facebook.com/nagendrareddy1239/" style="color: #ffffff; text-decoration: none; display: inline-block; width: 40px; height: 40px; background-color: #3b5998; text-align: center; line-height: 40px; border-radius: 5px;"><i class="fa fa-facebook"></i></a></li>
<!--                        <li style="display: inline-block;"><a href="#" style="color: #ffffff; text-decoration: none; display: inline-block; width: 40px; height: 40px; background-color: #1da1f2; text-align: center; line-height: 40px; border-radius: 5px;"><i class="fa fa-twitter"></i></a></li>-->
                        <li style="display: inline-block;"><a href="https://www.instagram.com/nagendra_reddy_98/" style="color: #ffffff; text-decoration: none; display: inline-block; width: 40px; height: 40px; background-color: #e4405f; text-align: center; line-height: 40px; border-radius: 5px;"><i class="fa fa-instagram"></i></a></li>
                        <li style="display: inline-block;"><a href="https://www.linkedin.com/in/nagendra-reddy-48588a137/" style="color: #ffffff; text-decoration: none; display: inline-block; width: 40px; height: 40px; background-color: #0077b5; text-align: center; line-height: 40px; border-radius: 5px;"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom text-center" style="padding-top: 20px; display: flex; flex-direction: column; align-items: center;">
        <p style="color: #ffffff; margin-bottom: 10px;font-size:20px;font-family:'Times New Roman', Times, serif;">For better experience, download the <strong>Cuision Synergy</strong> app now</p>
        <div style="display: flex; gap: 20px;">
            <a href="#">
                <img src="{% static 'extra-images/path-to-ios-icon.png' %}" alt="Download on the App Store" style="width: 150px;">
            </a>
            <a href="#">
                <img src="{% static 'extra-images/path-to-google-play-icon.png' %}" alt="Get it on Google Play" style="width: 150px;">
            </a>
        </div>
    </div>

</footer>
